* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header {
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
}

main {
  width: 100%;
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}

.box {
  width: 300px;
  background-color: #EEEEEE;
  margin: 0 15px;
}

.step-number {
  color: #fff;
  position: absolute;
  background-color: #FF9A4B;
  
}

.picture-A {
  height: 150px;
  margin: 10px 10px 0;
  background-size: cover;
  background-position: bottom;
  background-image: url(img/flow01.png);
}

.picture-B {
  height: 150px;
  margin: 10px 10px 0;
  background-size: cover;
  background-position: bottom;
  background-image: url(img/flow02.png);
}

.picture-C {
  height: 150px;
  margin: 10px 10px 0;
  background-size: cover;
  background-position: bottom;
  background-image: url(img/flow03.png);
}

h3 {
  margin: 15px 10px 5px;
}

p {
  margin: 0 10px 10px;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    margin: 40px 0;
  }
  
  .box {
    width: 90%;
    margin: 10px auto;
  }
  
  
}